@inject ProtectedSessionStorage ProtectedSessionStore
@inject ShoppingCart ShoppingCart 

<h3>StoreItem</h3>
@using MyCheeseShop.Model;



@foreach (var cheese in FilteredCheeses)
{
        <div class="col">
            <StoreItem Cheese="cheese" />
        </div>
}
@if (!FilteredCheeses.Any())
{
        <p>No cheeses found</p>
}

@code {
    [Parameter]
    public Cheese Cheese { get; set; }

    private int quantity = 1;



    public async Task AddToCart()
    {
        ShoppingCart.AddItem(Cheese, quantity);
        await PotectedSessionStore.SetAsync("cart", ShoppingCart.GetItems());
    }
}
